<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ovirt.mobile.movirt"
    android:versionCode="7"
    android:versionName="1.6">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".MoVirtApp_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity_"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity_"
            android:label="@string/title_activity_settings" />

        <activity
            android:name=".ui.AdvancedAuthenticatorActivity_"
            android:label="@string/title_activity_settings_advanced"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.AuthenticatorActivity_"
            android:label="@string/title_activity_settings" />

        <provider
            android:name=".provider.Provider"
            android:authorities="org.ovirt.mobile.movirt.provider"
            android:enabled="true"
            android:exported="true"> <!-- Exported "true" is really just a hack to make it work with the account authenticator -->
        </provider>

        <service android:name=".auth.AuthenticatorService_">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.SyncService_"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

        <activity
            android:name=".ui.triggers.EditTriggersActivity_"
            android:label="@string/title_activity_edit_filters"
            android:parentActivityName=".ui.MainActivity_" >
        </activity>

        <activity
            android:name=".ui.triggers.AddTriggerActivity_"
            android:label="@string/add_trigger"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".ui.triggers.EditTriggersActivity_" >
        </activity>

        <activity
            android:name=".ui.triggers.EditTriggerActivity_"
            android:label="@string/edit_trigger"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".ui.triggers.EditTriggersActivity_" >
        </activity>

        <activity
            android:name=".ui.vms.VmDetailActivity_"
            android:label="@string/title_activity_vm_details"
            android:parentActivityName=".ui.MainActivity_"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".ui.hosts.HostDetailActivity_"
            android:label="@string/title_activity_host_details"
            android:parentActivityName=".ui.MainActivity_">
        </activity>

        <activity
            android:name=".ui.snapshots.SnapshotDetailActivity_"
            android:label="@string/title_activity_snapshot_details"
            android:parentActivityName=".ui.vms.VmDetailActivity_"/>
        <activity
            android:name=".ui.CameraActivity_"
            android:label="@string/title_activity_camera"
            android:theme="@style/cameraViewStyle" />

        <activity
            android:name=".camera.PreferencesActivity"
            android:label="@string/preferences_name"
            android:stateNotNeeded="true" />

        <activity
            android:name=".ui.dashboard.DashboardActivity_"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName=".ui.MainActivity_" >
        </activity>

        <activity
            android:name=".ui.vms.VmMigrateActivity_"
            android:label="@string/title_activity_migrate_vm"
            android:parentActivityName=".ui.vms.VmDetailActivity_" >
        </activity>

        <activity
            android:name=".ui.storage.StorageDomainDetailActivity_"
            android:label="@string/title_activity_storage_domain_details"
            android:parentActivityName=".ui.MainActivity_" >
        </activity>
    </application>

</manifest>
