<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ovirt.mobile.movirt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="org.ovirt.mobile.movirt.MoVirtApp_"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SelectClusterActivity_"
            android:label="@string/title_activity_select_cluster" >
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <service
            android:name=".service.UpdaterService_"
            android:enabled="true"
            android:exported="false" >
        </service>

        <provider
            android:name=".provider.OVirtProvider"
            android:authorities="content://org.ovirt.mobile.movirt.provider"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>
