<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ovirt.mobile.movirt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!--not needed?-->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name="org.ovirt.mobile.movirt.MoVirtApp_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="org.ovirt.mobile.movirt.ui.MainActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.ovirt.mobile.movirt.ui.SettingsActivity_"
            android:label="@string/title_activity_settings" >
        </activity>

        <activity
            android:name="org.ovirt.mobile.movirt.ui.AuthenticatorActivity_"
            android:label="@string/title_activity_settings">
        </activity>

        <provider
            android:name="org.ovirt.mobile.movirt.provider.Provider"
            android:authorities="org.ovirt.mobile.movirt.provider"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <service android:name="org.ovirt.mobile.movirt.auth.AuthenticatorService_" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="org.ovirt.mobile.movirt.sync.SyncService_"
            android:enabled="true"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

        <activity
            android:name="org.ovirt.mobile.movirt.ui.triggers.EditTriggersActivity_"
            android:label="@string/title_activity_edit_filters" >
        </activity>

        <activity
            android:name=".ui.VmDetailActivity_"
            android:label="@string/title_activity_vm_details">
        </activity>

        <activity
            android:name=".ui.EventsActivity_"
            android:label="@string/title_activity_event_details">
        </activity>

        <activity
            android:name=".ui.DiskDetailActivity_"
            android:label="@string/title_activity_disk_details">
        </activity>

    </application>

</manifest>
